html {
    :focus {outline:0 !important;}
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
}

.ink-component-root {
    width: 100%;
    height: 100%;
    /* Set a minimum usable size for the component, we won't tolerate anything smaller */
    min-width: 300px;
    min-height: 300px;
    /* Absolute at the root so we don't inadvertently stretch our container element */
    position: absolute;
}

.ink-surface {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ink-canvas {
    height: 100%;
    flex-grow: 1;
    background-color: #ffffff;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
}

.ink-toolbar {
    position: absolute;
    left: 40%;
    top: 10px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #35343b;
    color:#fff;

    :hover {
        color:red;
    }
}

.ink-toolbar-button {
    width: 50px;
    height: 50px;
    background-color: #35343b;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.ink-toolbar-button:hover {
    background-color: orangered;
}

.fluid-icon-pencil {
    background-image: url("../images/icons/edit-2.svg");
}

.fluid-icon-replay {
    background-image: url("../images/icons/play-circle.svg");
}

.fluid-icon-cross {
    background-image: url("../images/icons/x.svg");
}

.fluid-icon-touch {
    background-image: url("../images/icons/move.svg");
}

.ink-color-picker {
    width: 100px;
    position: absolute;
    top: 60px;
    left:40%;
    display: none;
    flex-direction: column;
}

.ink-color-picker.show {
    display: flex;
}

.ink-color-option {
    width: 100%;
    height: 25px;
    border: none;
}
