html {
    :focus {outline:0 !important;}
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
}

.ink-component-root {
    width: 100%;
    height: 100%;
    /* Set a minimum usable size for the component, we won't tolerate anything smaller */
    min-width: 300px;
    min-height: 300px;
    /* Absolute at the root so we don't inadvertently stretch our container element */
    position: absolute;
}

.ink-surface {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.ink-canvas {
    width: 100%;
    flex-grow: 1;
    background-color: #fff;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
}

.ink-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background-color: #35343b;
    position: absolute;
    position: absolute;
    top:1rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ink-toolbar-button {
    width: 50px;
    height: 50px;
    background-color: #35343b;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    color: #fff;
    :hover {
        opacity: .75;
    }
   
}

.ink-toolbar-button.move-toggle {
    color: #f27892;
}

.ink-color-picker {
    width: 100px;
    position: absolute;
    top:5rem;
    left:0;
    display: none;
    flex-direction: column;

    .a-color-picker {
        background-color: #fff;
    }
}

.ink-color-picker.show {
    display: flex;
}

.ink-color-option {
    width: 100%;
    height: 25px;
    border: none;
}